<nz-tabset class="mobile">
  <nz-tab nzTitle="SDK">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, atque id? Veritatis minima, quasi ipsa corrupti nam sit, voluptatem repudiandae, dolorum incidunt eligendi quam nostrum. Ipsam eligendi corrupti a illum? Ut, atque id? Veritatis minima, quasi ipsa corrupti nam sit, voluptatem repudiandae, dolorum incidunt eligendi quam nostrum. Ipsam eligendi corrupti a illum?
    </p>


    <nz-space [nzSize]="sizee">
      <button onclick="window.location.href='https:\/\/www.google.com'" *nzSpaceItem nz-button nzType="primary" [nzSize]="size">
        <i nz-icon nzType="download"></i>
        Download for android
      </button>
      <button onclick="window.location.href='https:\/\/www.google.com'" *nzSpaceItem nz-button [nzSize]="size" nzType="default">Documentation</button>
      <!-- <button  nz-button nzType="default">Documentation</button> -->
      <!-- <a *nzSpaceItem nz-button nzType="link">Documentation</a> -->
    </nz-space>

  </nz-tab>
  <nz-tab nzTitle="APK">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, atque id? Veritatis minima, quasi ipsa corrupti nam sit, voluptatem repudiandae, dolorum incidunt eligendi quam nostrum. Ipsam eligendi corrupti a illum? Ut, atque id? Veritatis minima, quasi ipsa corrupti nam sit, voluptatem repudiandae, dolorum incidunt eligendi quam nostrum. Ipsam eligendi corrupti a illum?
    </p>
    <button onclick="window.location.href='https:\/\/www.google.com'" nz-button nzType="primary" [nzSize]="size">
      <i nz-icon nzType="download"></i>
      Download for android
    </button>
  </nz-tab>
</nz-tabset>
